# What NYC schools have the best math results?

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
#Importing file
schools = pd.read_csv("schools.csv")

In [6]:
schools["maths_percentage"] = (schools["average_math"] / 800) * 100

best_math_schools = schools[["school_name", "average_math", "maths_percentage"]].sort_values(by = "average_math", ascending = False)
print(best_math_schools.head())

                                           school_name  average_math  \
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683

     maths_percentage
88             94.250
170            89.250
93             88.875
365            87.625
68             85.375

# What are the top 10 performing schools based on the combined SAT scores?

In [9]:
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

top_10_schools = schools[["school_name", "total_SAT"]].sort_values(by = "total_SAT", ascending = False)
print(top_10_schools.head(10))

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

# What borough has the largest standard deviation in the combined SAT score?

In [16]:
boroughs = schools.groupby("borough")["total_SAT"].agg(num_schools=("count"), average_SAT=("mean"), std_SAT=("std")).round(2)
print(boroughs)

               num_schools  average_SAT  std_SAT
borough
Bronx                   98      1202.72   150.39
Brooklyn               109      1230.26   154.87
Manhattan               89      1340.13   230.29
Queens                  69      1345.48   195.25
Staten Island           10      1439.00   222.30